* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: monospace;
}

body{
        background: rgb(59, 57, 57);
}

.start-btn, 
.quiz-box, 
.result-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}

.quiz-box.activeQuiz{
        z-index: 5;
        opacity: 1;
        pointer-events: auto;
        transform: translate(-50%, -50%) scale(1);
}

.start-btn button {
        font-size: 30px;
        padding: 20px;
        border-radius: 5px;
        cursor: pointer;
}

.quiz-box {
        width: 600px;
        background: lightgrey;
        border-radius: 5px;
        pointer-events: none;
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.9);
}

.quiz-box header {
        position: relative;
        z-index: 99;
        height: 50px;
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 5px;
        box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.2);
}

 .title {
        font-size: 20px;
        font-weight: 600;
}


.quiz-box header .timer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 150px;
        height: 50px;
        background: lightpink;
        border: 1px solid black;
        border-radius: 5px;
        padding: 0 8px;
}

.quiz-box header .timer-text {
        font-weight: 400;
        font-size: 12px;
}

.quiz-box header .timer .timer-seconds {
        font-size: 14px;
        font-weight: 500;
        height: 30px;
        width: 45px;
        color: white;
        line-height: 30px;
        padding-left: 5px;
        user-select: none;
}

.quiz-box section {
        padding: 30px;
        background: white;
}

.quiz-box section .question-text {
        font-size: 25px;
        font-weight: 600;

}

.quiz-box section .option-list {
        padding: 20px 0;
        display: block;
}

footer .next-btn {
        font-size: 15px;
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;
}


section .option-list .option {
        border: 1px solid black;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
}

section .option-list .option:hover {
        transform: translateY(-8px);
}

section .option-list .option:last-child {
        margin-bottom: 0px;
}

.option-list .option .icon {

}

.quiz-box footer {
        height: 50px;
        width: 100%;
}

.quiz-box footer .total-questions span {
        display: flex;
        user-select: none;
}

footer .total-questions span p {
        font-weight: 500;
        padding: 0 5px;
}

.total-questions span p:first-child {
        padding-left: 5px
}

.result-box {
        display: ;
        background: white;
        width: 450px;
        padding: 25px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
}

.result-box .complete-text {
        display: flex;
        font-size: 15px;
        margin: 10px 0;
        font-weight: 500;
        flex-direction: column;
}


.result-box .score-text span {
        display: flex;
}

.score-text span p {
      font-weight: 500;
      padding: 0 4px;

}
